<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Basic Animation with Canvas example</title>
  </head>
<body>
        <canvas id="canvas" width="1000" height="600">
         If you can see this, your browser does not support Canvas
        </canvas>
<script>
var canvas;  
var ctx;
var x = 400;
var y = 300;
var dx = 2;
var dy = 4;
var width = 50;
var height = 50;
var area1 = [];
var area2 = [];
var area3 = [];
var area4 = [];
var len1 = {{ dome1Len }};

function circle(x,area) {

 ctx.beginPath();
  ctx.arc(x*85, 80, 40, 0, 2 * Math.PI, false);
  ctx.fillStyle = '#6D619E';
  ctx.fill();
  ctx.lineWidth = 2;
  ctx.strokeStyle = '#691E9E';
  ctx.stroke();
  ctx.font = "30px San Serif";
            ctx.fillStyle = "#2D5779";
            ctx.fillText(area[i],130,60);

}


function rect() {

   ctx.rect(5,5,495,295);
    ctx.rect(505,5,505,295);
    ctx.rect(5,305,495,295);
    ctx.rect(505,305,505,295);
    ctx.fillStyle = "#a3d2e3";
    ctx.fill();
    ctx.moveTo(0,200);
    ctx.lineTo(600,200);
    ctx.moveTo(300,0);
    ctx.lineTo(300,400);
    ctx.font = "30px San Serif";
    ctx.fillStyle = "#2D5779";
    ctx.fillText("Dome1",10,30);
    ctx.fillText("Dome2",510,30);
    ctx.fillText("Dome3",10,330);
    ctx.fillText("Dome4",510,330);
    
}

 
function reset() {
  ctx.clearRect(0, 0, width, height);
}

function init() {
  canvas = document.getElementById("canvas");
  ctx = canvas.getContext("2d");
  return setInterval(animate, 10);
}


function animate() {
  reset();
  ctx.fillStyle = "#FAF7F8";
  rect();
  ctx.fillStyle = "#444444";

  for(i=0; i< {{ dome1Len }}; i++) {

      if(i < 3) {
        ctx.beginPath();
        ctx.arc((i + 1) * 85, 70, 40, 0, 2 * Math.PI, false);
        ctx.fillStyle = '#6D619E';
        ctx.fill();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#691E9E';
        ctx.stroke();
        ctx.font = "30px San Serif";
        ctx.fillStyle = "#2D5779";

        ctx.strokeText("messi",10,60);
      }
      else{
        ctx.beginPath();
        ctx.arc((i -2) * 85, 160, 40, 0, 2 * Math.PI, false);
        ctx.fillStyle = '#6D619E';
        ctx.fill();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#691E9E';
        ctx.stroke();
        ctx.font = "30px San Serif";
        ctx.fillStyle = "#2D5779";
        ctx.strokeText("sid",130,120);
      }
    }



}

init();
</script>

</body>
</html>