<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to new webpage</title>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Room Status</h1>

<ul style="list-style-type:Square">
    <li> Dome1 {{ dome1Len }} </li>
    {%  for item in dome1 %}
        <li> {{ loop.index }}</li>
    {%  endfor %}
    <li> Dome2 {{ dome2Len }}</li>
    {%  for item in dome2 %}
        <li> {{ item }}</li>
    {%  endfor %}
    <li> Dome3 {{ dome3Len }}</li>
    {%  for item in dome3 %}
        <li> {{ item }}</li>
    {%  endfor %}
    <li> Dome4 {{ dome4Len }}</li>
    {%  for item in dome4 %}
        <li> {{ item }}</li>
    {%  endfor %}
</ul>
</body>
</html>